{% extends "./base.html" %}
{% load static %}

{% block head %}
  <title>Become a host</title>
{% endblock head %}


  {% block content %}
  <div class="container-fluid">
    <div class="container">
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Display Name</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Service Type</label>
          <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            
            <option selected value="1">Apartments and Hotels</option>
            <option value="2">Cars and Automobiles</option>
          
          </select>
          
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Business Name</label>
          <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
          <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Email Address</label>
          <input type="email" class="form-control" id="exampleInputPassword1">
        </div>


        <a href="./become_a_host_2.html" class="btn btn-primary">Continue</a>
      </form>
    </div>
  </div>
  
 
  {% endblock content %}