{% extends "./base.html" %}
{% load static %}

{% block head %}
  <title>Get started</title>
{% endblock head %}

{% block content %}
  
<main class="container" style="padding: 5px;">
  <div class="px-4 my-2 text-center">
    <img class="d-block mx-auto mb-4 img-fluid" src="{% static 'images/host1.webp' %}" alt="" style="width: 200px; height:200px;">
    <h1 class="display-5 fw-bold">Get started renting properties</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">To start listing your properties for rent, you need to become a host</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
<a class="btn btn-dark btn-lg btn-block px-4 gap-3" href="{% url 'core:host' %}">Become an host</a>        
      </div>
    </div>
  </div>

</main>
  
{% endblock content %}
  
 